@import '../../../../../App.scss';

.select-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 40px;
  padding: 12px;
  background-color: $color-card;
  border: 1px solid $color-card;
  cursor: pointer;

  &-big {
    width: 200px;
  }

  &:hover {
    border-color: $color-icon;
  }

  &:focus,
  &[data-state='open'] {
    border-color: $color-accent;
    outline: none;
  }
}

.select-icon {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;

  .select-trigger[data-state='open'] & {
    transform: rotate(180deg);
  }
}

.select-content {
  margin-top: 4px;
  background-color: $color-bg;
  border: 1px solid $color-element;
}

.select-item {
  position: relative;
  padding: 10px 16px;
  box-sizing: border-box;
  color: $color-text-secondary;
  cursor: pointer;
  user-select: none;
  width: 100px;
  border: none;
  outline: none;

  &-big {
    width: 200px;
  }

  &:hover,
  &[data-highlighted] {
    background-color: $color-card;
    color: $color-text-main;
  }
}
