.select-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 40px;
  padding: 12px;
  background-color: #323542;
  border: 1px solid #323542;
  color: #f1f2f9;
  cursor: pointer;

  &-big {
    width: 200px;
  }

  &:hover {
    border-color: #4a4d58;
  }

  &:focus,
  &[data-state='open'] {
    border-color: #905bff;
    outline: none;
  }
}

.select-icon {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;

  .select-trigger[data-state='open'] & {
    transform: rotate(180deg);
  }
}

.select-content {
  margin-top: 4px;
  background-color: #0f1121;
  border: 1px solid #3b3e4a;
}

.select-item {
  position: relative;
  padding: 10px 16px;
  color: #75767f;
  cursor: pointer;
  user-select: none;
  width: 100px;
  border: none;
  outline: none;

  &-big {
    width: 200px;
  }

  &:hover,
  &[data-highlighted] {
    background-color: #323542;
    color: #f1f2f9;
  }
}
