@use '../../../App.scss' as *;

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-bg;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menuTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-element;
}

.logoLink {
  padding-inline: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 64px;
    height: auto;
  }
}

.headerIcons {
  display: flex;
}

.icon {
  width: 48px;
  height: 48px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.iconClose {
  background-image: url('../../../assets/icons/icon-close.svg');
  background-color: transparent;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: -1px 0px 0px 0px #323542;
  transition: background-color 0.2s ease;
}

.menuBottom {
  padding-top: 24px;
  padding-bottom: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.nav {
  &List {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &Item {
    margin-bottom: 24px;
  }

  &Link {
    text-decoration: none;
    color: $color-text-secondary;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
      color: $color-text-main;
    }
  }
}

.isActive {
  position: relative;
  color: $color-text-main;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -4px;
    background: $color-text-main;
    transition: background 0.3s ease;
  }
}

.menuIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-element;
  height: 64px;

  a {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border-left: 1px solid $color-element;

    &:first-child {
      border-left: none;
    }
  }
}

.iconFavoriteHeart {
  background-image: url('../../../assets/icons/icon-favorite-heart.svg');
}

.iconShoppingBag {
  background-image: url('../../../assets/icons/icon-shopping-bag.svg');
}
