@import '../../../App.scss';

.about {
  grid-column: 1 / -1;
  margin-bottom: 56px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    grid-column: 1 / 13;
    margin-bottom: 80px;
  }

  display: flex;
  flex-direction: column;
  gap: 32px;

  &Head {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &Main {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &Text {
      color: $color-text-secondary;
      line-height: 21px;
    }
  }
}
