@use '../../../../../App.scss' as *;

.carouselContainer {
  @include content-padding-in-line();
}

.carouselHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.carouselNavButtons {
  display: flex;
  gap: 16px;
}

.arrowButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.swiperSlide {
  height: 100%;
  width: 100%;
  padding: 26px;
  overflow: visible !important;
  box-sizing: border-box;
}
