@use '../../../../../styles/mixins' as *;
@import '../../../../../styles/variables';

.cartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 16px;
  width: 100%;
  box-sizing: border-box;

  padding: 16px;
  background-color: $color-surface;
  color: $color-text-main;

  @include on-tablet {
    flex-direction: row;
    padding: 24px;
  }

  &BlockInfo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 16px;
    min-width: 0;

    @include on-tablet {
      gap: 24px;
    }

    &Left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      @include on-tablet {
        gap: 24px;
      }
    }

    &Title {
      color: $color-text-main;
      &:hover {
        color: $color-text-secondary;
      }
    }
  }

  &BlockControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    gap: 16px;
    min-width: 0;

    @include on-tablet {
      justify-content: right;
      gap: 24px;
      max-width: 200px;
    }
  }

  &Remove {
    background-color: inherit;

    background-image: url(../../../../../assets/icons/icon-close-grey.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 16px;
    width: 16px;

    border: none;
    cursor: pointer;

    &:hover {
      background-image: url(../../../../../assets/icons/icon-close.svg);
    }
  }

  &Link {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;

    @include on-tablet {
      height: 80px;
    }
  }

  &Image {
    height: 66px;
    margin-inline: auto;
    display: block;

    @include img-hover-scale(1.1);

    @include on-tablet {
      height: 80px;
    }
  }

  &Controls {
    display: flex;
    align-items: center;
  }

  &BtnMinus {
    background-color: $color-card;
    border: none;
    cursor: pointer;

    background-image: url(../../../../../assets/icons/icon-minus.svg);
    background-position: center;
    background-repeat: no-repeat;

    height: 32px;
    width: 32px;

    &Disabled {
      background-image: url(../../../../../assets/icons/icon-minus-grey.svg);
      background-color: inherit;
      border: 1px solid $color-element;
      cursor: auto;
    }

    &:not([disabled]):hover {
      background-color: $color-icon;
    }
  }

  &BtnPlus {
    background-color: $color-card;
    border: none;
    cursor: pointer;

    background-image: url(../../../../../assets/icons/icon-plus.svg);
    background-position: center;
    background-repeat: no-repeat;

    height: 32px;
    width: 32px;

    &:hover {
      background-color: $color-icon;
    }
  }

  &Quantity {
    width: 32px;
    text-align: center;
  }

  &Price {
    width: 80px;
    text-align: right;
  }
}

.removing {
  animation: slideOutLeft 0.4s forwards;
}

@keyframes slideOutLeft {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
