@use '../../../../../App.scss' as *;

.themeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 100%;
  box-shadow: -1px 0 0 0 var(--color-element);
  text-decoration: none;
  background-image: url(../../../../../assets/icons/icon-moon.png);
  background-position: center;
  background-repeat: no-repeat;

  @include on-desktop {
    width: 64px;
  }

  &Dark {
    background-image: url(../../../../../assets/icons/icon-sun.svg);
  }
}

svg {
  height: 30%;
  width: 30%;
}
