@import '../../../../../App.scss';

.footer {
  padding: 40px 20px;
  @include content-padding-in-line();

  &Container {
    margin: 0 auto;
    display: grid;
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 24px;

    @include on-tablet {
      max-width: 1200px;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      gap: 20px;
    }
  }

  &Logo {
    display: flex;
  }

  &NavContainer {
    display: flex;
    justify-content: flex-start;
  }

  &Nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    padding: 0;
    margin: 0;

    @include on-tablet {
      flex-direction: row;
      align-items: center;
      width: 100%;
    }

    li a {
      color: $color-text-main;
      text-decoration: none;
    }
  }

  &BackContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;

    @include on-tablet {
      gap: 16px;
      justify-content: flex-end;
    }

    &Text {
      color: $color-text-secondary;
    }

    &Button {
      display: flex;
      border: none;
      background-color: rgba(50, 53, 66, 1);
      cursor: pointer;
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgba(74, 77, 88, 1);
      }

      &Icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}
