.colorSelector {
  width: 32px;
  height: 32px;
  border: 2px solid #3B3E4A;
  border-radius: 50%;
  padding: 2px;

  &:hover {
    border-color: #75767F;
  }

  &-active {
    border-color: #F1F2F9;
  }

  &-link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  //need container with not inline display
}

