// Base
$color-bg: #0F1121;
$color-surface: #161827;
$color-card: #323542;

// Text
$color-text-main: #F1F2F9;
$color-text-secondary: #75767F;

// UI
$color-icon: #4A4D58;
$color-element: #3B3E4A;

// Accents
$color-accent: #905BFF;
$color-success: #27AE60;
$color-error: #EB5757;

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 640px;
