.arrow {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../../../assets/icons/icon-arrow-left-white.svg);

  &-up {
    rotate: 90deg;
  }

  &-down {
    rotate: -90deg;
  }

  &-left {
    rotate: 0deg;
  }

  &-right {
    rotate: 180deg;
  }

  &-disabled {     //how to name?
    background-image: url(../../../../../assets/icons/icon-arrow-left-grey.svg);
  }

  &-button {
    width: 32px;
    height: 32px;
    background-color: #323542;
    border: none;

    &-disabled {
      background-color: #0F1121;
      border: 1px solid #3B3E4A;
    }

    &:not([disabled]):hover {
      background-color: #4A4D58;
    }
  }
}



