@import '../../../../../App.scss';

.arrow {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../../../assets/icons/icon-arrow-left-white.svg);
  cursor: pointer;

  &Up {
    rotate: 90deg;
  }

  &Down {
    rotate: -90deg;
  }

  &Left {
    rotate: 0deg;
  }

  &Right {
    rotate: 180deg;
  }

  &Disabled {
    background-image: url(../../../../../assets/icons/icon-arrow-left-grey.svg);
  }

  &Button {
    width: 32px;
    height: 32px;
    background-color: $color-card;
    border: none;

    &Disabled {
      border: 1px solid $color-element;
      cursor: auto;
    }

    &:not([disabled]):hover {
      background-color: $color-icon;
    }
  }
}
