@import './styles/reset';
@import './styles/fonts';
@import './styles/global';
@import './styles/mixins';
@import './styles/variables';

iframe {
  display: none;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.footer {
  margin-top: auto;
}


