@import '../../../../../App.scss';

.defaultButton {
  width: 100%;
  height: 100%;
  background-color: $color-accent;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #a378ff;
  }

  &Selected {
    background-color: $color-card;
  }
}
